# Maven  
target/
mvnw  
mvnw.cmd

# Gradle  - gestore di dipendenze
/build/

# IntelliJ IDEA
.idea/  

# Configurazioni sensibili  
.env

# File di log e cache
logs/  
*.log

# Config locali
config/local-settings.json

